<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>SimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetHeaderInfo</servlet-name>
        <servlet-class>com.chu.GetHeaderInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetHeaderInfo</servlet-name>
        <url-pattern>/GetHeaderInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Encoding</servlet-name>
        <servlet-class>com.chu.EncodingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Encoding</servlet-name>
        <url-pattern>/Encoding</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.chu.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
</web-app>
