<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcLoginDemo:war">
    <output-path>$PROJECT_DIR$/SpringMvcLoginDemo/target</output-path>
    <root id="archive" name="SpringMvcLogin.war">
      <element id="artifact" artifact-name="SpringMvcLoginDemo:war exploded" />
    </root>
  </artifact>
</component>