<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcLogin:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMvcLogin.war">
      <element id="artifact" artifact-name="SpringMvcLogin:war exploded" />
    </root>
  </artifact>
</component>